/* Write your CSS here */
.suggestion-item {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  list-style-type: none;
}
.suggestion {
  color: #475569;
  font-family: roboto;
  font-size: 16px;
  margin: 0;
}
@media screen and(min-width:768px) {
  .suggestion {
    font-size: 20px;
    margin: 0;
  }
}
.arrow-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .arrow {
    height: 16px;
    width: 16px;
  }
}
